db.createUser(
  {
      user: "{{ mongodb_database_user }}",
      pwd: "{{ mongodb_database_password }}",
      roles: [
          {
              role: "readWrite",
              db: "{{ mongodb_database_name }}"
          }
      ]
  }
);
